export ASDF_SKIP_RESHIM=1

if has use_asdf; then
  use asdf
  echo "using ASDF and env locally"
  echo "On Branch $(git rev-parse --abbrev-ref HEAD)"
fi

PATH_add bin

if [ -f .env ]; then
  dotenv
fi

if [ -f .env.development ]; then
  dotenv .env.development
fi

if [ -f .env.local ]; then
  dotenv .env.local
fi